################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Resources.txt
/Resources.en.txt
/.vs
/FTPKey.Test/bin
/FTPKey.Test/obj
/FTPKey/bin
/FTPKey/obj
